# ==== #
# Misc #
# ==== #
git_stats
Library/

# =============== #
# Unity generated #
# =============== #
*.sublime-*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Cubeblast.app/Contents/Data/Managed/Assembly-CSharp.dll
"~/Desktop/GG Projects/LeagueOfZombies/.gitignore" [dos] 69L, 1400C
ECS/ECS/bin/Debug
ECSTests/bin/Debug
